/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
 body {
    color: #526066;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}


/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.main-menu {

}
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    display: block;
    /* float:left; */
    margin-left:18px;
    padding-left:15px;
    /* position:relative; */
    list-style-type: none;
}

li+li { border-right: 1px solid #000000 }

.pure-menu-link {
    padding: .5em .7em;
}

.main-menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    float: right; 
    font-size: 16pt;
    text-align: justify;
    margin: .1em 0;
} 

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; 
  } */
  
  li[class="pure-menu-item"] {
    float: right;
    border: 1 solid #333;
    /* text-align:right;
    text-align-last:right; */
  }
  
  li a {
    display: inline-block;
    color: #1a1a1a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #FF5733;
    margin: 0 .1em;
    text-align:center;
  }
  
  .active {
    display: inline-block;
    font-weight: bolder;
    color: #FF5733;
    margin: 0 .1em;
  } 


/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.banner {
    background: #1a1a1a url("../images/birds3.jpg") no-repeat fixed;
    text-align: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px #099bda;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif */
}



/*
 * -- PROJECT TABLE WRAPPER --
 * This element wraps up all the project table elements
 */
 .project-tables,
 .information {
    max-width: 980px;
    margin: 0 auto;
 }
.project-tables {
    margin-bottom: 3.125em;
    text-align: center;
}

/*
 * -- PROJECT TABLE  --
 * Every project table has the .project-table class
 */
.project-table {
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 0 0 3em;
}

/*
 * -- PRICING TABLE HEADER COLORS --
 * Choose a different color based on the type of pricing table.
 */
.project-table-free 
.project-table-header {
    background: #519251;
}

.project-table-biz 
.project-table-header {
    background: #2c4985;
}

/*
 * -- PROJECT TABLE HEADER --
 * By default, a header is black/white, and has some styles for its <h2> name.
 */
.project-table-header {
    background: #111;
    color: #fff;
}
.project-table-header h2 {
    margin: 0;
    padding-top: 2em;
    font-size: 1em;
    font-weight: normal;

}


/*
 * -- PROJECT TABLE PRICE --
 * Styles for the price and the corresponding <span>per month</span>
 */
.project-table-price {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
}
.project-table-price span {
    display: block;
    text-transform: uppercase;
    font-size: 0.2em;
    padding-bottom: 2em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    *color: #fff;
}



/*
 * -- PROJECT TABLE LIST --
 * Each project table has a <ul> which is denoted by the .project-table-list class
 */
.project-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}


/*
 * -- PROJECT TABLE LIST ELEMENTS --
 * Styles for the individual list elements within each project table
 */
.project-table-list li {
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}


/*
 * -- PROJECT TABLE BUTTON --
 * Styles for the "Choose" button at the bottom of a pricing table.
 * This inherits from Pure Button.
 */
.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
}

.information-head {
    color: black;
    font-weight: 500;
}

.footer {
    background: #c5cedb;
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    vertical-align: text-bottom;
}

.footer a {
    color: black;
}



/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
@media(min-width: 767px) {

    .banner-head {
        font-size: 4em;
    }
    .pricing-table {
        margin-bottom: 0;
    }

}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (min-width: 480px) {
    .banner {
        height: 400px;
    }
    .banner-head {
        font-size: 3em;
    }
}
